<#include "admin-header.html" />

<div class="admin-content-body">
    <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">员工帐号</strong>
        </div>
    </div>

    <hr/>
        <div class="am-g">
            <div class="am-u-sm-12">
                <div class="am-panel am-panel-default">
                    <div class="am-panel-bd">
                        <div class="am-g">
                            <div class="am-u-md-12">
                              <h2>开发中...</h2>
                                <img class="am-img-circle am-img-thumbnail" src="/assets/i/face/9150e4e5gw1fbbayftn7fj205i055a9y.jpg" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<#include "admin-footer.html" />