<!DOCTYPE html>
<html lang="en">
<head>
  <#include "header.html" />
  <style>
    #backHome {
      display: none;
    }
  </style>
</head>
<body ontouchstart>

  <header class='header'>
    <div class="header-userAvatar"><img src="/img/avatar.jpeg" alt=""></div>
    <div class="header-userName">码扫全城拓客系统</div>
  </header>

  <div class="title">常用功能</div>

    <div class="weui-grids gridsBackground">
      <a href="setMessage" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="images/icon_nav_button.png" alt="">
        </div>
        <p class="weui-grid__label">
          群发消息
        </p>
      </a>
      <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="images/icon_nav_button.png" alt="">
        </div>
        <p class="weui-grid__label">
          发送统计
        </p>
      </a>
      <a href="accountSet" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="images/icon_nav_button.png" alt="">
        </div>
        <p class="weui-grid__label">
          账号设置
        </p>
      </a>

    </div>
  <#if user.role=="USER">
    <div class="title">基本设置</div>
    <div class="weui-grids gridsBackground">

      <a href="massList" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="images/icon_nav_button.png" alt="">
        </div>
        <p class="weui-grid__label">
          群发配置
        </p>
      </a>
      <a href="memberList" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="images/icon_nav_button.png" alt="">
        </div>
        <p class="weui-grid__label">
          员工账号
        </p>
      </a>
      <a href="subordinates" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="images/icon_nav_button.png" alt="">
        </div>
        <p class="weui-grid__label">
          下属账号
        </p>
      </a>

    </div>
    <div class="weui-grids gridsBackground">

      <a href="copyright" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="images/icon_nav_button.png" alt="">
        </div>
        <p class="weui-grid__label">
          版权配置
        </p>
      </a>

    </div>
  </#if>
    <div class="weui-footer bottom">
        <p class="weui-footer__links">
          <a href="javascript:void(0);" class="weui-footer__link">本服务由真世好网络科技有限公司提供技术支持</a>
        </p>
        <p class="weui-footer__text">Copyright © 2008-2016 remberme.io</p>
      </div>

  <#include "footer.html" />

</body>

</html>
