<!DOCTYPE html>
<html lang="en">

<head>
  <#include "header.html" />
</head>

<body ontouchstart>
  <div class="title">员工账号信息</div>
  <div class="weui-cells margintop">
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">员工姓名</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" pattern="[0-9]*" value="胡駿">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">登录账号</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="number" pattern="[0-9]*" value="78149489">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">登录密码</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="password" pattern="[0-9]*" value="hujing123">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">联系电话</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="number" pattern="[0-9]*" value="13186928863">
      </div>
    </div>
  </div>


  <div class='demos-content-padded'>
       <a href="javascript:;" class="weui-btn weui-btn_primary">保存</a>
      <a href="javascript:;" class="weui-btn weui-btn_default">删除</a>
  </div>
  <#include "footer.html" />

</body>

</html>
