<!DOCTYPE html>
<html lang="en">

<head>
  <#include "header.html" />
</head>

<body ontouchstart>
  <div class="title">下属账号列表</div>
  <div class="weui-cells margintop">
    <#list proxies as proxy>
      <a class="weui-cell weui-cell_access" href="/subordinatesAdd/${proxy.id}">
        <div class="weui-cell__bd">
          <p>${proxy.displayName}</p>
        </div>
        <div class="weui-cell__ft">
        </div>
      </a>
    </#list>
  </div>
  <div class='demos-content-padded'>
    <a href="subordinatesAdd" class="weui-btn weui-btn_primary">申请下属账号</a></div>

  <#include "footer.html" />

</body>

</html>
