<!DOCTYPE html>
<html lang="en">

<head>
  <#include "header.html" />
</head>

<body ontouchstart>
  <div class="title">下属账号信息</div>
  <div class="weui-cells margintop">
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">账号联系人</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" pattern="[0-9]*" value="胡駿" disabled='disabled'>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">登录账号</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text"  value="78149489" disabled='disabled'>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">登录密码</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="password"  value="hujing123" disabled='disabled'>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">联系电话</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="number" pattern="[0-9]*" value="13186928863" disabled='disabled'>
      </div>
    </div>
  </div>

  <#include "footer.html" />

</body>

</html>
